/* Kham - STO Rom Theme - V 1.0 */

/* Changed to fluid width forum */
.Row { padding:0 10%; width:auto; min-width:960px; }

/*Get rid of annoying top banner*/
.Head { background-color: transparent !important; }

/*Setup background image*/
body
{
	/*Romulan Make Your Choice*/
	/*background-image: url("https://raw.githubusercontent.com/khamseen/PWEVan/master/bgimg/RLmyc.jpg") !important;*/
	/*Romulan Hakeev eyes*/
	background-image: url("https://raw.githubusercontent.com/khamseen/PWEVan/master/bgimg/RLHR.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-color:rgba(6,32,19,1) !important;
}

/*remove background on Arc Games site*/
.module-wrap { background:rgba(0,0,0,0) !important; }

/*nrglg fixes and edits*/
/*----global.fixes.css Start----*/
.UserSpoiler
{
	background-color: rgba(18,52,90,0.2)!important;
    border-radius:8px!important;
}

/* Differentiates between message and signature area */
.Signature.UserSignature
{
    border-top:1px solid rgba(143,221,234,0.5);
    height:auto;
    max-height:250px; 
    overflow-y:auto;
}

.P
{
    padding-left:30px;
}

/*----global.fixes.css Finish----*/

/*----grayscale.css Start----*/
/* Fixes subforum link colors */
.ChildCategories a
{
	color:rgba(255,255,255,0.6);
}

.ChildCategories a:hover
{
	color:rgba(255,255,255,0.85);
}

/* Removes "Post Edited" message color */
div.PostEdited
{
    display:none;
}

/* Adds constraints to post textbox height */
#Form_Body
{
    min-height: 150px;
    max-height: 600px;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}

#Form_Body:focus
{
    box-shadow:0 0 5px 2px rgba(255,255,255,0.5);
}

/* Changes to pretty the avatar area */
.AuthorWrap > .Author .ProfilePhotoMedium
{
    width:auto;
    height:auto;
    max-width: 125px;
    max-height:125px;
}

.AuthorWrap > .Author .Online .ProfilePhotoMedium
{
    border:3px solid rgba(32,128,32,0.75);
}

.AuthorWrap > .Author .Offline .ProfilePhotoMedium
{
    border:3px solid rgba(128,32,32,0.75);
}

.CommentHeader .AuthorWrap, .CommentHeader .AuthorWrap > .Author
{
    text-align:center;
}

.Comment .CommentInfo
{
    display:block;
    background-color:rgba(0,0,0,0.3);
    padding:3px 3px 2px 10px;
    border-radius:10px;
}


/* Prettifies Flag/Quote Area */
.Discussion .Item-BodyWrap .Reactions, .Comment .Item-BodyWrap .Reactions
{
    background-color:rgba(0,0,0,0.25);
    padding: 10px 0 8px 15px !important;
    line-height:15px;
}

/* Message area link colors */
.Item .Comment .Item-BodyWrap .Message a:link, .Item .Discussion .Item-BodyWrap .Message a:link, .ConversationMessage .Message a:link
{
    border-radius:8px;
    background:linear-gradient(to bottom, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    display:inline-block;
    padding:0 6px;
    max-width:100%;
    box-sizing:border-box;
}
/* Removes outline from non-normal post links due to above change (no reason to have those stick out) */
.Quote.UserQuote .QuoteAuthor a:link, pre a:link
{
    border-radius:0px !important;
    background-color:transparent !important;
	background:transparent !important;
    display:inline !important;
    padding:0px !important;
}

.Item .Comment .Item-BodyWrap .Message a:hover, .Item .Discussion .Item-BodyWrap .Message a:hover, .ConversationMessage .Message a:hover
{
    border-radius:8px;
    background:linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%);
    display:inline-block;
    padding:0 6px;
    color:rgba(34,153,224,1);
    text-decoration:none;
}

.Item .Comment .Item-BodyWrap .Message a > img, .Item .Discussion .Item-BodyWrap .Message a > img, .ConversationMessage .Message a > img
{
    width:auto;
    height:auto;
    margin:10px 5px;
}

.Message
{
    overflow:hidden;
}

/* Code box */
pre
{
    margin:8px;
    padding-bottom:0;
}
/*----grayscale.css Finish----*/

/*----Let there be colour----*/
/* STO Colourful Page Numbers! */
#PagerBefore { margin-right:4px; }
.Section-Discussion > #Frame > #Body > div > #Content > div.CommentsWrap > span > #PagerBefore {padding-top:6px;} /*In thread view, drop this slightly*/
#PagerAfter { display:block !important; padding-top:2px; margin-top:4px; margin-right:4px; }
.Pager.NumberedPager a, .Pager.NumberedPager .Ellipsis, .Pager.NumberedPager .Next, .Pager.NumberedPager .Previous {border:none; border-radius:8px; padding-left:2px; padding-right:2px; background:linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%); color:black !important;}
.Pager.NumberedPager a:hover, .Pager.NumberedPager .Ellipsis:hover, .Pager.NumberedPager .Next:hover, .Pager.NumberedPager .Previous:hover {background: linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF !important; color:white;}
.Pager.NumberedPager a:active, .Pager.NumberedPager .Next:active, .Pager.NumberedPager .Previous:active, .Pager.NumberedPager a.Highlight {background: linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%);  color:black !important;}


/* Made posts have a hover-over border to help eye focus */
.MessageList .Item:hover
{
    box-shadow:none; /* Erase previous hover-over shadow */
}

/*Favourite Icons Bookmarks*/
.Hijack.Bookmark::before { color:rgba(255,153,0,1); }
#Item_0 > div > a {padding:8px;}

/*Thread OP*/
.MessageList .Item.ItemDiscussion
{
    border:2px solid rgba(255,153,0,1); /*epic*/
    border-radius:10px;
    background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
}

.MessageList .Item.ItemDiscussion:hover
{
    box-shadow: 0 0 9px 3px rgba(255,153,0,0.7) inset; /*epic*/
}

/*Thread replies*/
.MessageList > li, .MessageList .Comment { border-radius: 10px; background-color:rgba(0,0,0,0) !important; } /*shape comments and remove default colouring*/
.MessageList > li:nth-child(2n-1) { background:linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%); } /*lighter green*/
.MessageList > li:nth-child(2n-0) { background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%); } /*darker green*/
.MessageList > li:nth-child(3n-2) { border:2px solid rgb(153,218,138); } /*uncommon*/
.MessageList > li:nth-child(3n-1) { border:2px solid rgb(34,153,224); } /*rare*/
.MessageList > li:nth-child(3n-0) { border:2px solid rgba(137,0,209,1); } /*very rare*/
.MessageList > li:nth-child(3n-2):hover { border:2px solid rgb(153,218,138);box-shadow: 0 0 9px 3px rgba(153,218,138,0.7)inset; }
.MessageList > li:nth-child(3n-1):hover { border:2px solid rgb(34,153,224); box-shadow: 0 0 9px 3px rgba(34,153,224,0.7)inset; }
.MessageList > li:nth-child(3n-0):hover { border:2px solid rgb(137,0,209);box-shadow: 0 0 9px 3px rgba(137,0,209,0.7)inset; }

/* Changes to make quotes stand out more */
/*uncommon*/
blockquote.Quote
{
    border-left:4px solid rgba(153,218,138,0.75);
    background-color:rgba(0,0,0,0.4);
	font-style: italic;
    border-radius:8px;
}
/*rare*/
blockquote.Quote blockquote.Quote
{
    border-left:4px solid rgba(34,153,224,0.75);
    background-color:rgba(64,32,32,0.4);
}
/*very rare*/
blockquote.Quote blockquote.Quote blockquote.Quote
{
    border-left:4px solid rgba(137,0,209,0.75);
    background-color:rgba(64,64,32,0.4);
}
/*epic*/
blockquote.Quote blockquote.Quote blockquote.Quote blockquote.Quote
{
    border-left:4px solid rgba(255,153,0,0.75);
    background-color:rgba(32,64,32,0.4);
}

.Message > blockquote.Quote:hover, blockquote.Quote blockquote.Quote blockquote.Quote:hover
{
    box-shadow:0 0 5px 2px rgba(153,218,138,0.25);
}

/*Restrict BBCode image tag sizes*/
img.bbcode_img { width:auto; height:auto; max-width:650px; max-height:500px; }

/*Start Thread Button*/
a[class="Button Primary Handle"] { border-top-left-radius:0px !important; border-bottom-left-radius:0px !important; }
a[class="Button Primary"] { border-top-right-radius:0px !important; border-bottom-right-radius:0px !important; }
#Content > div.PageControls.Top > div.BoxButtons.BoxNewDiscussion > div > a
{
	background:linear-gradient(to bottom, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
	color: black;
}
#Content > div.PageControls.Top > div.BoxButtons.BoxNewDiscussion > div > a:hover
{
	background: linear-gradient(to bottom, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%);
	color:#FFFFFF !important;
}
#Content > div.PageControls.Top > div.BoxButtons.BoxNewDiscussion > div > a:active
{
	background: linear-gradient(to bottom, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%);
	color:black !important
}
/*Annoying Sprite on side of New thread button*/
span.Sprite.SpDropdownHandle { border-color:black transparent transparent transparent !important; }
span.Sprite.SpDropdownHandle:hover { border-color:#FFFFFF transparent transparent transparent !important; }

/*New Thread Display*/
#DiscussionForm, #NewPollForm
{
    background: linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border-radius: 10px;
    border: 1px solid rgba(255,153,0,1);
}
#DiscussionForm:hover, #NewPollForm:hover
{
    box-shadow:0 0 9px 3px rgba(255,153,0,0.7) inset;
}
#DiscussionForm > h1.H, #NewPollForm > h1.H
{
    color: rgba(143,221,234,1);
    padding-left:8px;
}

/* Thread list coloring */
.Item.Unread.ItemDiscussion { background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 40%,rgba(6,32,19,0.9) 75%,rgba(9,130,17,0.9) 100%); }
.Item.Unread.ItemDiscussion:hover td { background: linear-gradient(to bottom, rgba(6,112,112,0.9) 0%,rgba(6,126,127,0.9) 25%,rgba(8,137,143,0.9) 50%,rgba(6,126,127,0.9) 75%,rgba(9,130,17,0.9) 100%) !important; }
.Item.Unread.ItemDiscussion > td:first-child:hover { border-left:3px solid rgb(9,130,17); }

.Item.Read.ItemDiscussion {background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);}
.Item.Read.ItemDiscussion:hover td { background: linear-gradient(to bottom, rgba(6,112,112,0.9) 0%,rgba(6,126,127,0.9) 25%,rgba(8,137,143,0.9) 50%,rgba(6,126,127,0.9) 75%,rgba(6,112,112,0.9) 100%) !important; }
.Item.Read.ItemDiscussion > td:first-child:hover { border-left:3px solid #94B8FF; }

.Item.New.ItemDiscussion { background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 40%,rgba(6,32,19,0.9) 75%,rgba(218,1,0,0.9) 100%); }
.Item.New.ItemDiscussion:hover td { background: linear-gradient(to bottom, rgba(6,112,112,0.9) 0%,rgba(6,126,127,0.9) 25%,rgba(8,137,143,0.9) 50%,rgba(6,126,127,0.9) 75%,rgba(218,1,0,0.9) 100%) !important; }
.Item.New.ItemDiscussion > td:first-child:hover { border-left:3px solid rgb(218,1,0); }

/*Give Announcements Epic border and change tag*/
.Item.Announcement.ItemDiscussion td {border-bottom:2px solid #ff9900;}
.Tag.Tag-Announcement { background-color: #ff9900; border:1px solid #FF0; color:black; font-family:eurostyle; font-size:110%; text-transform:uppercase; font-weight:bold;}

.Item.ItemDiscussion:hover td a:hover { color:rgba(153,218,138,1);/*rgba(255,255,255,0.75);*/ }

/* Category list coloring */
/*Fed*/
.CategoryTable > tbody > tr:nth-child(2n+1){ background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%); }
.CategoryTable > tbody > tr:nth-child(2n+2){ background:linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%); }
.CategoryTable > tbody > tr:hover { background: linear-gradient(to bottom, rgba(6,112,112,0.9) 0%,rgba(6,126,127,0.9) 25%,rgba(8,137,143,0.9) 50%,rgba(6,126,127,0.9) 75%,rgba(6,112,112,0.9) 100%); }
.CategoryTable > thead > tr, .DiscussionsTable > thead > tr {background:linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%); color:#8fddea; outline:1px solid rgba(143,221,234,1);}

.ContentColumn .CategoryGroup { border-radius:20px 5px 0 0; margin-top:25px; }

/*Changes to user bar*/
.BoxTop
{
    background: linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border: 1px solid rgba(255,153,0,1);
    border-radius: 8px;
    margin-bottom: 10px;
    font-family:eurostyle;    
}
.BoxTop:hover
{
	box-shadow:0 0 5px 2px rgba(255,153,0,0.7)inset;
}

.MeBox.Inline > .PhotoWrap .ProfilePhoto
{
    height: 125px;
    width: 125px;
}

#Head a
{
    color: rgb(255,153,0);
    font-size:120%;
}

.UserBox .Username, .MeBox .Username
{
    vertical-align: bottom !important;
    font-size:25px;
}

/*Sprite Buttons on Banner*/
.MeMenu .SpNotifications::before, .MeMenu .SpBookmarks::before, .MeMenu .SpOptions::before, .MeMenu .SpInbox::before
{
    color: rgba(153,218,138,1);/*uncommon*/
}
/*End User Bar Changes*/

/*warning message flashing and colour changes*/
@keyframes WMBorderFlash
{
    from { background:rgba(218,1,0,1); box-shadow:0 0 8px 2px rgba(218,1,0,1); }
    to { background:rgba(218,1,0,0.2); box-shadow:0 0 8px 2px rgba(218,1,0,0.2); }
}
@keyframes CMFader
{
    from { background: rgba(6,32,19,1); box-shadow:0 0 1px 1px rgba(143,221,234,0.7); }
    to { background: rgba(6,32,19,0.2); box-shadow:0 0 1px 1px rgba(143,221,234,0.0); }
}

.WarningMessage
{
    border:none;
    color: white;
    font-weight: bold;
    animation-name: WMBorderFlash;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align:center;
    font-family: eurostyle;
    font-size:110%;
    width:80%;
    margin-left:10%;
}
/*End Warning Message Changes*/

/*Forum Rules Links*/
.CasualMessage
{
    border:none;
    font-weight: bold;
    animation-name: CMFader;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align:center;
    font-family: eurostyle;
    font-size:110%;
    width:25%;
    margin-left:auto;
    margin-right:auto;
}
.CasualMessage a {color:#8fddea;}

/*Headers*/
.Item h3 a
{
    color: #8fddea;
    letter-spacing:1px;
    margin-left:-4px;
    margin-bottom:10px;
    font-family:eurostyle;
    text-transform:uppercase;
    font-size:110%;
}

/*board titles*/
.Item h2 a
{
    color: #8fddea;
    letter-spacing:1px;
    margin-left:5px;
    font-family:eurostyle;
    text-transform:uppercase;
}

.ContentColumn h1.H.HomepageTitle, .ContentColumn h2.H
{
    background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0 0px;
    border-top-left-radius:8px;
    border-top-right-radius: 8px;
    color:#8fddea;
    letter-spacing:1px;
    text-shadow:0 0 2px #8fddea;
    font-size:1.5em;
    font-family:eurostyle;
    text-transform:uppercase;
}

/*Arc Comm Header*/
#Head > div > h1
{
    color: rgba(143,221,234,1);
}

/*Changes specific to 'leave a comment' section*/
#Content > div.MessageForm.CommentForm.FormTitleWrapper > h2 {padding-bottom: 10px; padding-top: 10px; margin-bottom:10px; border-radius:10px;}
.ContentColumn h2.H {padding-left:16px;}

/*Changes specific to 'Comments' tab in threads*/
#Content > div.CommentsWrap > div.DataBox.DataBox-Comments > h2.CommentHeading
{
    background:linear-gradient(to right, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    padding-bottom: 10px;
    padding-left:6px;
    margin-bottom:10px;
    border-radius:10px;
    margin-bottom:10px;
    border-radius:10px;
    font-family:eurostyle;
    font-size:120%;
    color:#8fddea;
    letter-spacing:1px;
}

div.P.PageDescription
{
	background:linear-gradient(to right, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    margin:0;
    /*border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;*/
    padding-left: 20px;
}
/*On Category page we want this to have curves*/
.Section-CategoryList >#Frame > #Body > div > #Content > div.P.PageDescription { border-bottom-left-radius:8px; border-bottom-right-radius:8px; padding-bottom:4px; }

#Item_0 > h1 /*thread titles in thread view*/
{
    background:linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    border:1px solid rgba(143,221,234,1);
    padding:6px;
    margin-bottom:10px;
    border-radius:8px;
    color:#8fddea;
    letter-spacing:1px;
    text-shadow:0 0 2px #8fddea;
    font-size:1.5em;
    font-family:eurostyle;
}

div.PageControls.Top
{
	background:linear-gradient(to right, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    padding-left: 20px;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:5px;
    margin-top:0;
}
.DataList.ChildCategoryList
{
	background:linear-gradient(to right, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    padding-left: 20px;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:0;
}

/*Comment Box*/
.CommentFormWrap
{
    background: linear-gradient(to right, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border: 1px solid rgba(255,153,0,1);
    border-radius: 10px;
}
.CommentFormWrap:hover
{
	box-shadow:0 0 9px 3px rgba(255,153,0,0.7) inset;
}

/*Preview Window Changes*/
.Preview
{
    background: linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    color: #ffffff;
    border: 1px solid rgb(153,218,138);
    border-radius:10px;
}

/*Change Poll Text*/
.Tag.Tag-Poll
{
	background-color: rgba(34,153,224,1);
}

/*New Post Tag Colour*/
.HasNew.NewCommentCount
{
	background-color: #fba000;
    margin-left:6px;
    border:1px solid #FF0;
}
/*----PersonalPreference.css Finish----*/

/*Child Groups Like STO Buttons*/
.CategoryTable .ChildCategories
{
	font-size: 12px;
    margin:0 5px;
    border-radius:15px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}

.ChildCategories
{
    background:rgba(6,32,19,0.8);
}
.ChildCategories a
{
	background: linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    padding:0 8px;
    margin: 0 2px;
    border-radius: 20px;
    color: Black !important;
    white-space: nowrap;
    text-align: justify;
}
.ChildCategories a:hover { padding:0 8px; margin:0 2px; background:linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF !important; }

.ChildCategories a:active { padding:0 8px; margin:0 2px; background: linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%);  color:black !important; }

/*Get rid of Title in child category list*/
.ChildCategories b
{
    display:none;
}

/*Get rid of commas in child category list*/
.ChildCategories .Comma/*, .ChildCategories b*/
{
    visibility: hidden;
}

/*Change all buttons*/
#Body .Button:not([value="Search"]), .NavButton
{
    background: linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    color:black !important;
    border-radius:6px;
    border:none;
    box-shadow:none;
    font-family:eurostyle;
    font-size:100%;
    padding:6px
}
#Body .Button:not([value="Search"]):hover, .NavButton:hover
{
    background:linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%);
    color:#FFFFFF !important;
}
#Body .Button:not([value="Search"]):active, .NavButton:active
{
    background:linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%); color:black !important;
}

/*Draft Page*/
ul.DataList.Drafts li { border-radius: 8px; border:1px solid rgba(143,221,234,1); background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%); }
ul.DataList.Drafts li:hover { border-radius: 8px; border:1px solid rgba(143,221,234,1); background: linear-gradient(to bottom, rgba(6,112,112,0.9) 0%,rgba(6,126,127,0.9) 25%,rgba(8,137,143,0.9) 50%,rgba(6,126,127,0.9) 75%,rgba(6,112,112,0.9) 100%) !important; }
ul.DataList.Drafts li:nth-child(1) { border-top-left-radius: 0px; border-top-right-radius: 0px; } /*don't curve tops of 1st child*/
ul.DataList.Drafts li > div.ItemContent > a { color:rgba(143,221,234,1);}
ul.DataList.Drafts li > div.ItemContent > a:hover, ul.DataList.Drafts li > div.ItemContent > div > a:hover { color:rgba(34,153,224,1); }

/*Profile Pages*/
/*some banners get full curve on profile*/
#Content > div.Profile > div.DataListWrap > h2 { border-radius:10px; border: 2px solid rgba(143,221,234,1); }

/*comment box*/
#Content > div.Profile > div.DataListWrap > div
{
    background: linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border: 2px solid rgba(255,153,0,1);
    border-radius: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
}
#Content > div.Profile > div.DataListWrap > div:hover
{
    box-shadow:0 0 9px 3px rgba(255,153,0,0.7) inset;
}

#Content > div.ProfileOptions > a
{
    background: linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    padding: 6px;
    margin: 0 2px;
    border-radius: 8px;
    color: Black !important;
    white-space: nowrap;
}
#Content > div.ProfileOptions > a {margin:8px;}

/*Profile View Page Buttons need some tuning*/
.Section-Profile > #Frame > #Body > div > #Content > .Profile > .DataListWrap > .PagerWrap > #PagerBefore a
{
    background:linear-gradient(to bottom, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    padding-top:7px;
    line-height:12px !important;
    height:25px;
    margin-top:10px;
    border:none;
    color:black !important;
}
.Section-Profile > #Frame > #Body > div > #Content > .Profile > .DataListWrap > .PagerWrap > #PagerBefore a:hover { background:linear-gradient(to bottom, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF !important; }
.Section-Profile > #Frame > #Body > div > #Content > .Profile > .DataListWrap > .PagerWrap > #PagerBefore a:active { background:linear-gradient(to bottom, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%); color:black !important; }

#Content > div.ProfileOptions > a:hover, #PagerBefore > a:hover { background: linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF !important; }
#Content > div.ProfileOptions > a:active, #PagerBefore > a:active { background: linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%);  color:black !important; }

/*activiity updates + notifications*/
#Content > div.Profile > div.DataListWrap > ul > li { border-radius:10px }
#Content > div.Profile > div.DataListWrap > ul > li:nth-child(2n-1) { background:linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%); }
#Content > div.Profile > div.DataListWrap > ul > li:nth-child(2n-0) { background:linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%); }
#Content > div.Profile > div.DataListWrap > ul > li:nth-child(3n-2) { border:2px solid rgba(153,218,138,1); } /*uncommon*/
#Content > div.Profile > div.DataListWrap > ul > li:nth-child(3n-1) { border:2px solid rgba(34,153,224,1); } /*rare*/
#Content > div.Profile > div.DataListWrap > ul > li:nth-child(3n-0) { border:2px solid rgba(137,0,209,1); } /*very rare*/
#Content > div.Profile > div.DataListWrap > ul { margin-top:14px; }
#Content > div.Profile > div.DataListWrap > ul > li:hover:nth-child(3n-2) { box-shadow: 0 0 9px 3px rgba(153,218,138,0.7)inset; }
#Content > div.Profile > div.DataListWrap > ul > li:hover:nth-child(3n-1) { box-shadow: 0 0 9px 3px rgba(34,153,224,0.7)inset; }
#Content > div.Profile > div.DataListWrap > ul > li:hover:nth-child(3n-0) { box-shadow: 0 0 9px 3px rgba(137,0,209,0.7)inset; }

div.Meta.Meta-Discussion {color: rgba(143,221,234,1);}

/*User Details*/
#Content > div.Profile > div.User
{
    background: linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    border-radius:10px;
    border:1px solid rgba(255,153,0,1);
    margin-bottom:14px;
}
#Content > div.Profile > div.User:hover { box-shadow: 0 0 9px 3px rgba(255,153,0,0.7)inset; }
#Content > div.Profile > div.User > h1 {padding-left:8px;}

/*Left User Panel*/
.Column.PanelColumn
{
    background: linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    border-radius:10px;
    padding:8px;
    border:2px solid rgba(255,153,0,1);
}

.Column.PanelColumn > div.BoxFilter.BoxProfileFilter > ul > li, .Column.PanelColumn > div.Box.Group.SideMenu > ul > li
{
    background:linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    padding-left:8px;
    padding-right:8px;
    padding-top:2px;
    padding-bottom:2px;
    margin-bottom:4px;
    border-radius: 8px;
    white-space: nowrap;
    font-family:eurostyle;
    font-size:120%;
    font-weight:bold;
    color:black;
}
.Column.PanelColumn > div.BoxFilter.BoxProfileFilter > ul > li:hover, .Column.PanelColumn > div.Box.Group.SideMenu > ul > li:hover { background: linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF !important; }
.Column.PanelColumn > div.BoxFilter.BoxProfileFilter > ul > li:active, #Panel .FilterMenu .Active, .PanelInfo .Active, .Column.PanelColumn > div.Box.Group.SideMenu > ul > li:active { background: linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%);  color:black !important; }

/*hide background and border in preference page*/
.Column.PanelColumn > div.Box.Group.SideMenu {background:none; border:none;}

.Column.PanelColumn > div.BoxFilter.BoxProfileFilter > ul > li > a, .Column.PanelColumn > div.Box.Group.SideMenu > ul > li > a {color:black;}
.Column.PanelColumn > div.BoxFilter.BoxProfileFilter > ul > li > a:hover, .Column.PanelColumn > div.Box.Group.SideMenu > ul > li > a:hover {color:white;}
.Column.PanelColumn > .Box.BadgeGrid.NoItems { background:rgba(0,0,0,0.25); border-radius:8px;}

/*Title on some profile pages*/
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > h2.H
{
    background: linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    padding:8px;
    border-radius:8px;
    color:#8fddea;
    letter-spacing:1px;
    text-shadow:0 0 2px #8fddea;
    font-size:1.5em;
    font-family:eurostyle;
    text-transform:uppercase;
	border:2px solid rgba(143,221,234,1);
}
#Content > div.SmallPopup.FormTitleWrapper > h1, #Content > div.FormTitleWrapper > h1
{
    color:#8fddea;
    letter-spacing:1px;
    text-shadow:0 0 2px #8fddea;
    font-size:1.5em;
    font-family:eurostyle;
    text-transform:uppercase;
    padding-left:10px;
}

/*Back to profile button needed moved*/
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > .ProfileOptions
{
	margin-top:10px;
	height:auto !important;
	width:auto !important;
}

/*Online Status + Quotes*/
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > form
{
    background: linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    margin-top:10px;
    border-radius:10px;
    border:1px solid rgba(255,153,0,1);
}
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > form:hover { box-shadow: 0 0 9px 3px rgba(255,153,0,0.7)inset; }

/*Signature Settings*/
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > div.FormTitleWrapper
{
    background: linear-gradient(to bottom, rgba(6,43,25,0.9) 0%,rgba(6,43,25,0.9) 50%,rgba(6,43,25,0.9) 100%);
    border: 2px solid rgba(255,153,0,1);
    border-radius: 10px;
    margin-bottom: 14px;
}
.Section-EditProfile > #Frame > #Body > div > .ContentColumn > div.FormTitleWrapper:hover { box-shadow: 0 0 9px 3px rgba(255,153,0,0.7)inset; }
/*hide background on these*/
#Content > div.FormTitleWrapper > form > div > h2:nth-child(4),#Content > div.FormTitleWrapper > form > div > h2:nth-child(6) { margin-left:-16px; background:none; }

/*Eiledon's Game logo sidebar*/
.spangame
{
    background:linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%) !important;
	border: none !important;
}
.spangame:hover { background:linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%) !important; }
.spangame:active { background: linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%) !important; }
#navgame ul a { color: Black !important; font-family:eurostyle; font-size:65%; letter-spacing:1px; }
#navgame ul a:hover { color:#FFFFFF!important; }

/*Hover Preview*/
.tooltip-comment 
{
	white-space:normal;
	line-height: 1.2em;
	padding: 7px;
	background: linear-gradient(to bottom, rgba(6,32,19,0.95) 0%,rgba(5,39,23,0.95) 50%,rgba(6,32,19,0.95) 100%);
	color: white;
	font-size: 13px;
	font-weight: normal !important;
	display: inline-block;
	width: auto;
	max-width: 400px;
	opacity: 1 !important;
    border:1px solid #eee36d;
    border-radius:8px;
	z-index: 1000;
}

/*Eiledon's Game logo sidebar*/
#floatnav > div > div.popoutpanel
{
    background: linear-gradient(to bottom, rgba(6,32,19,0.9) 0%,rgba(5,39,23,0.9) 50%,rgba(6,32,19,0.9) 100%);
    border: 1px solid #8fddea;
}
.gamelinks
{
    background:none;
  	font-size: 9px;
	text-decoration: none;
	width: 146px;
	margin-left: 2px;
	margin-right: 2px;
	text-align: center;
    color:#8fddea;
    margin-top:4px;
}
.gamelinks a
{
    background:linear-gradient(to right, rgba(60,171,120,1) 0%,rgba(59,194,127,1) 25%,rgba(59,219,133,1) 50%,rgba(59,194,127,1) 75%,rgba(60,171,120,1) 100%);
    color:black;
    border-radius:8px;
    padding:1px 5px 1px 4px;
}
.gamelinks a:hover
{ background:linear-gradient(to right, rgba(6,112,112,1) 0%,rgba(6,126,127,1) 25%,rgba(8,137,143,1) 50%,rgba(6,126,127,1) 75%,rgba(6,112,112,1) 100%); color:#FFFFFF; }
.gamelinks a:active
{ background:linear-gradient(to right, rgba(102,200,227,1) 0%,rgba(135,255,254,1) 25%,rgba(160,255,255,1) 50%,rgba(135,255,254,1) 75%,rgba(102,200,227,1) 100%); color:black; }